name: Build and Deploy
on:
  push:
    branches:
      - master # branch to trigger on
env:
  duplo_host: https://perf.duplocloud.net
  duplo_token: ${{ secrets.DUPLO_TOKEN }}
  TENANT_NAME:  qaperf-1-80	# DuploCloud Tenant name

jobs:
## get AWS credentials, then lists all S3 buckets.
         
  deploy:
    # This example get AWS credentials, then lists all S3 buckets.
    name: using GHA Jit update multiple services
    runs-on: ubuntu-latest
    steps:
      - name: aws-jit
        uses: duplocloud/ghactions-aws-jit@master
        with:
         aws_region: us-east-2 #ap-east-1
         duplo_host: ${{ env.DUPLO_HOST }}
         duplo_token: ${{ secrets.DUPLO_TOKEN }}
         tenant: qaperf-1-80
      - name: AWS us-west-2 - Logintest
        uses: duplocloud/ghactions-aws-jit@master
        with:
          admin: true
          aws_region: us-west-2
      - name: list-vpc
        run: aws ec2 describe-vpcs
      - name: Deploy
        uses: duplocloud/ghactions-service-update@master
        with:
          tenant: "${{ env.TENANT_NAME }}"
          services: |-
            [
              { "Name": "serv1", "Image": "nginx:latest12" },
              { "Name": "serv2", "Image": "nginx:latest12" }
            ]

