name: Build and Deploy
on:
  push:
    branches:
      - master # branch to trigger on
env:
  duplo_host: https://perf.duplocloud.net
  duplo_token: ${{ secrets.DUPLO_TOKEN }}
  TENANT_NAME: auto-02		# DuploCloud Tenant name

jobs:
## get AWS credentials, then lists all S3 buckets.

  update_service:
    name: Update Service using DuploCtl
    runs-on: ubuntu-latest2
    environment: 
      name: ${{ inputs.environment }}
    env:
      DUPLO_TOKEN: ${{ secrets.DUPLO_TOKEN }}
      DUPLO_HOST: https://perf..duplocloud.net
      DUPLO_TENANT: e2154bb8-c58f-4b7c-8dd8-3f4549886c06
    steps: 
    
    # install and login to the cloud
    - name: Duplo Setup
      uses: duplocloud/actions/setup@main

    # uses duploctl from above
    - name: Update Service
      uses: duplocloud/actions/update-service@main
      with:
        service: serv1
        image: nginx:latest12
        
    - name: Update CronJob 
      uses: duplocloud/actions/update-cronjob@main
      with:
        cronjob: serv2
        image: nginx:latest12
        
  run-k8s-job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Build Job
      shell: bash
      run: |
        cat <<EOF > job.yaml
        apiVersion: batch/v1
        kind: Job
        metadata:
          name: my-job
          namespace: duploservices-auto-02
        spec:
          backoffLimit: 4
          parallelism: 1
          template:
            spec:
              restartPolicy: Never
              nodeSelector:
                tenantname: duploservices-auto-02
              containers:
              - name: app
                image: alpine:latest
                command:
                - /bin/sh
                - -c
                args:
                - |
                  # Jobs that exit immediately may fail the wait conditions above or be missing logs.
                  # Most jobs take at least a few seconds to complete, so this isn't an issue. If your
                  # job exits too quickly, inject some seconds of sleep. Upcoming Kubernetes features
                  # may simplify this.
                  sleep 10
                  echo "Hello World, I'm in Kubernetes!"
        EOF

    - name: Apply and Watch
      uses: duplocloud/actions/k8s-job@main
      with:
        file: job.yaml
        timeout: 300s
        cleanup_delay: 3600  # Optional delay for debugging purposes
         
  deploy:
    # This example get AWS credentials, then lists all S3 buckets.
    name: using GHA Jit update multiple services
    runs-on: ubuntu-latest
    steps:
      - name: aws-jit
        uses: duplocloud/ghactions-aws-jit@master
        with:
         aws_region: us-east-2 #ap-east-1
         duplo_host: ${{ env.DUPLO_HOST }}
         duplo_token: ${{ secrets.DUPLO_TOKEN }}
         tenant: auto-02
      - name: AWS us-west-2 - Logintest
        uses: duplocloud/ghactions-aws-jit@master
        with:
          admin: true
          aws_region: us-west-2
      - name: list-vpc
        run: aws ec2 describe-vpcs
      - name: Deploy
        uses: duplocloud/ghactions-service-update@master
        with:
          tenant: "${{ env.TENANT_NAME }}"
          services: |-
            [
              { "Name": "serv1", "Image": "nginx:stable" },
              { "Name": "serv2", "Image": "nginx:stable" },
              { "Name": "serv3", "Image": "nginx:stable" },
              { "Name": "serv4", "Image": "nginx:stable" }   
            ]

