name: Build and Deploy
on:
  push:
    branches:
      - master # branch to trigger on
env:
  duplo_host: https://perf.duplocloud.net
  duplo_token: ${{ secrets.DUPLO_TOKEN }}
  TENANT_NAME: qaperf-1-80	# DuploCloud Tenant name

jobs:
## get AWS credentials, then lists all S3 buckets.

  update_service:
    name: Update Service using DuploCtl
    runs-on: ubuntu-latest2
    environment: 
      name: ${{ inputs.environment }}
    env:
      DUPLO_TOKEN: ${{ secrets.DUPLO_TOKEN }}
      DUPLO_HOST: https://perf..duplocloud.net
      DUPLO_TENANT: fd08b777-6aca-4f2b-9e52-d7be69e4fec6
    steps: 
    
    # install and login to the cloud
    - name: Duplo Setup
      uses: duplocloud/actions/setup@main

    # uses duploctl from above
    - name: Update Service
      uses: duplocloud/actions/update-service@main
      with:
        service: serv1
        image: nginx:latest12
        
         
  deploy:
    # This example get AWS credentials, then lists all S3 buckets.
    name: using GHA Jit update multiple services
    runs-on: ubuntu-latest
    steps:
      - name: aws-jit
        uses: duplocloud/ghactions-aws-jit@master
        with:
         aws_region: us-east-2 #ap-east-1
         duplo_host: ${{ env.DUPLO_HOST }}
         duplo_token: ${{ secrets.DUPLO_TOKEN }}
         tenant: qaperf-1-80
      - name: AWS us-west-2 - Logintest
        uses: duplocloud/ghactions-aws-jit@master
        with:
          admin: true
          aws_region: us-west-2
      - name: list-vpc
        run: aws ec2 describe-vpcs
      - name: Deploy
        uses: duplocloud/ghactions-service-update@master
        with:
          tenant: "${{ env.TENANT_NAME }}"
          services: |-
            [
              { "Name": "serv1", "Image": "nginx:latest1" },
              { "Name": "serv2", "Image": "nginx:latest" },
              { "Name": "serv3", "Image": "nginx:latest" },
              { "Name": "serv4", "Image": "nginx:latest" },
              { "Name": "serv5", "Image": "nginx:latest" },
              { "Name": "serv6", "Image": "nginx:latest" },
              { "Name": "s1tzou", "Image": "nginx:latest" },
              { "Name": "s1qets", "Image": "nginx:latest11" },
              { "Name": "s1yhtj", "Image": "nginx:latest" },
              { "Name": "s1wkid", "Image": "nginx:latest" },
              { "Name": "s1dibj", "Image": "nginx:latest" },
              { "Name": "s1ygub", "Image": "nginx:latest" },
              { "Name": "s1vevb", "Image": "nginx:latest" }
            ]

